main {
    padding-top: 100px;
}

.jumbo {
    display: flex;
}

.jumbo_left {
    width: 45%;
    color: $text_color;

        h1 {
            font-size: 50px;
            font-weight: normal;
            letter-spacing: 1px;
            margin-bottom: $std_margin;
        }

        p:first-of-type {
            font-size: 22px;
            margin-bottom: $std_margin;
        }

        .jumbo_buttons {
            display: flex;
            align-items: baseline;
            justify-content: space-evenly;

            button {
                padding: $butt_padd;
                background-color: $butt_color;
                border-radius: $butt_rad;
                color: white;
                border: 0;
                font-size: 15px;
                cursor: pointer;

                    &:hover {
                        background-color: rgb(35, 53, 105);
                        transition-duration: $time_in_s;
                    }
            }

            p {
                margin: 0;
                color: rgba(0, 0, 0, .5);
            }
        }

        p:last-child {
            font-size: 14px;
            text-align: center;
            cursor: pointer;

                &:hover {
                    color: $butt_color;
                    transition-duration: $time_in_s;
                }
        }
}

.jumbo_right {
    width: 55%;

        img {
            width: 100%;
        }
}
